*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root {
    --base: #555;
    --base-50: #ffffffd0;
    --base-100: #f1f1f1ee;
    --base-800: #000;
    --gold: #d9a521e8;
    --black-background: rgba(0, 0, 0, 0.959);

}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    background-color: var(--black-background);
 }

 ul {
    list-style-type: none;
 }

 a {
    text-decoration: none;
 }

 header {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;

    .logo-holder {
        display: flex;
        align-items: center;
        padding: 10px;
        font-weight: 600;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            color: var(--base-100);
            height: 64px;
            width: 64px;
            margin: 20px;
            border: 2px solid var(--gold);
            border-radius: 50%;
        }
        .logo-text {
            flex: 1;
            color: var(--base-100);
        }
    }

    nav {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 70px;
            
            li {
                display: inline-block;

                a {
                    position: relative;
                    display: inline-block;
                    padding: 5px 20px;
                    font-size: 1rem;
                    text-decoration: none;
                    color: var(--gold);
                    transition: ease 3s all;
                }
                
                    a::after {
                        position: absolute;
                        color: var(--base);
                        content: "";
                        width: 100%;
                        height: 3px;
                        top: 100%;
                        left: 0;
                        background: var(--gold);
                        transition: transform 0.5s;
                        transform: scaleX(0);
                        transform-origin: left;
                    }
                    a:hover::after {
                        transform: scaleX(1);
                    }

                
            }
        }
        .mobile-toggle {
            display: none;
            color: var(--gold);
            padding: 10px;
            @media (max-width: 768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        nav {
            margin-top: 10px;
            width: 100%;
            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                &.active {
                    display: flex;
                    width: 100%;
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
 }

.container {
    max-width:1440px;
    margin:auto;
    gap:30px;
    margin-top:30px;
    margin-bottom:30px;

    @media (max-width:1440px) {
        padding-left: 30px;
        padding-right: 30px;
    }
 }

 .button {
    display: inline-block;
    padding: 8px 30px;
    background-color: var(--gold);
    color: #000;
    border-radius: 5px;
    transition: ease 0.3s all;
    &:hover {
        text-decoration: none;
        color: var(--base-100);
        background-color: var(--base);
    }
    a {
        color: #f1f1f1;
    }
 }

 h1 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    p {
        display: inline-block;
    }
    small {
        display: block;
        font-weight: 100;
        color: var(--base);
    }
    @media (max-width:1024px) {
        font-size: 48px;
    }
 }

 .hero {
    display: flex;
    @media (max-width:1024px) {
        flex-direction: column;
    }
    .hero-left {
        flex: 1;
        background-color: var(--base-800);
        color: var(--base-100);
        padding: 30px;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            font-size: 30px;
            color: var(--base);
            padding: 20px 0px;
        }
        span {
            @media (max-width:1024px) {
                display: none;                
            }
        }
        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;
            a {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        .social-links {
            display: flex;
            a {
                color: var(--base-100);
                /* margin-left: 50px; */
                font-size: 1.5rem;
                padding: 10px 10px;
                align-items: flex-end;
                &:hover {
                    text-decoration: none;
                    color: var(--gold);
                        transition: ease 0.3s all;
                        transform: scale(1.2);
                    }
                }
            }
         }
        
    .hero-right {
        flex: 1;
        background-color: var(--gold);
        border-radius: 1%;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
            margin-top: -60px;
            max-width: 420px;
        }
        
    }
 }

.logos {
    border-radius: 10px;
    padding: 30px 0px;
    @media (max-width:1440px) {
        border-radius: 0px;
    }
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 100px;
        overflow: hidden;
        position: relative;
        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 10px;
        }
    }
}

 @keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
 }

 h2 {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: #f1f1f1;
    padding: 30px;
    small {
        display: block;
        font-weight: 100;
        font-size: 0.5em;
        color: #f1f1f1;
    }
    @media (max-width:1024px) {
        font-size: 48px ;
    }
 }

 h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: #f1f1f1;
 }

 h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: #f1f1f1;
 }

.skills {
    .content {
        display: flex;
        align-items: flex-start;
        /* padding: 30px; */
        display: flex;
        @media (max-width:1024px) {
            flex-direction: column;
            align-items: center;
        }
        .left-content {
            flex: 1.5;
            .web-dev {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                margin-bottom: 30px;
                ul {
                    list-style-type: none;
                    li {
                        font-size: 70px;
                        display: inline-block;
                        padding: 10px 20px;
                        color: var(--base-50);
                        margin-bottom: 10px;
                        transition: ease 0.3s all;
                        &:hover {
                            text-decoration: none;
                            color: var(--gold);
                        }
                    }
                }
            }
            .soft-skills {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
                ul {
                    list-style-type: none;
                    li {
                            color: var(--base-50);
                            font-size: 15px;
                        i {
                            padding: 10px;
                            font-size: 25px;
                            color: var(--gold);
                        }
                    }
                }
                .softSkills-holder {
                    display: flex;
                    flex-direction: row;
                    .softSkills-left {
                    }
                    .softSkills-right {
                        }
                }
            }
        }
        .right-content{
            flex:2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    display: flex;
            @media (max-width:1024px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            ul {
                list-style-type: none;
                font-size: 15px;
                color: var(--base-50);
                align-items: center;
                li {
                    i { 
                        padding-right: 10px;
                        font-size: 25px;
                    }
                }
            }
            .right-holder {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: start;
                margin-top: 20px;
                .left-column {
                    display: flex;
                    flex-direction: column;
                    .fb-ads {
                        padding: 20px;
                        margin-bottom: 30px;
                    }
                    .management-tools {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: start;
                        margin-bottom: 30px;

                        li {
                            padding: 10px;
                            font-size: 15px;
                        }
                    }
                    .design {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 20px;
                        ul {
                            li {
                                display: inline-block;
                                padding: 10px;
                                font-size: 15px;
                            }
                        }
                    }
                    }
                .right-column {
                    .amazon {
                        margin-bottom: 30px;

                        padding: 20px;
                    }
                    .microsoft {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 10px;
                        padding: 20px;
                        ul {
                            li {
                                padding: 15px;
                                display: inline-block;
                            }
                        }
                    }
                    .google {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 30px;
                        padding: 20px;
                        ul {
                            li {
                                padding: 7px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }   
}

 .work-experience {
    margin-bottom: 50px;
     .jobs {
        display: flex;
        gap: 30px;
        @media (max-width:1024px) {
            flex-direction: column;
        }
        article {
            background-color: var(--gold);
            padding: 30px;
            border-radius: 5px;
            flex: 1;
            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            div {
                font-weight: 10px;
                margin-bottom: 5px;
                color: aquamarine;
            }
            p {
                margin-bottom: 10px;
            }
            figure {
                width: 100%;
                padding-top: 56.25%;
                overflow: hidden;
                position: relative;
                border-radius: 10px;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
                transition: ease 3s all;
            }
            .caption {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: gray;
                color: #f1f1f1;
                text-align: center;
                padding: 10px;
                opacity: 0;
                visibility: hidden;
                transition: ease 0.3s all;
            }
            &:hover {
                .caption {
                    opacity: 1;
                    visibility: visible;
                }
                img {
                    transform: scale(1.2);
                }
            }
        }
     }
 }

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    h2 {
        grid-column: span 12;
    }
    article {
        grid-column: span 3;
        border: 4px solid var(--base);
        border-radius: 8px;
        .d-flex {
            align-items: center;
            justify-content: space-between;
            margin-right: 20px;
            font-size: 25px;
            div {
                padding: 10px;

            }
        }
        h3 {
            font-size: 20px;
            color: var(--base-100);
            margin-bottom: 0px;
        }
        p {
            font-size: 10px;
            color: var(--gold);
            margin: 0px;
        }
        img {
            width: 100%;
            height: 200px;
            padding: 10px;
            object-fit: cover;
            border-bottom: 4px solid var(--base);
        }
    }
}
